<form #form="ngForm" [formGroup]="codeForm">
    <div class="center">
    <nx-code-input #codeInput formControlName="keyCode"></nx-code-input>
  
    <div *ngIf="codeInput.errorState">
      <nx-error *ngIf="keyCode.hasError('required')">
        Entry is required.
      </nx-error>
      <nx-error *ngIf="keyCode.hasError('minlength')">
        Entry is too short.
      </nx-error>
    </div>
</div>
  
    <br>
    <button nxButton="primary small" type="submit">Submit</button>
    <button nxButton="secondary small" (click)="form.resetForm()" type="button">Clear</button>
  </form>